# --------------------------------------
# OPEN FIRE SYSTEM ENVIRONMENT VARIABLES
# --------------------------------------
# 1. Copy and/or rename this file to .env (Note: Process environment variables override this file.)
# 2. Go to https://syncfusion.com/products/communitylicense and obtain a free community license key and enter it in the SYNCFUSION variable below.
# 3. If running for the first time, enter a admin email and a strongpassword.
# --------------------------------------

SYNCFUSION=
ADMIN_PASSWORD=
ADMIN_EMAIL=admin@quickfire.local
DEFAULTCONNECTION="Data Source=local.db"
QUICKFIRE_DB=Sqlite